@CHARSET "UTF-8";
/**
 * Rules to be applied to the product detail pages (PDP)
 */
/* line 6, ../../sass/page/product_detail.scss */
.wp-caption.responsive {
  max-width: 50%;
}

/** hide date in the products */
/* line 11, ../../sass/page/product_detail.scss */
#content .type-product .post-info {
  display: none;
}

/**
 * Product list
 */
/* line 19, ../../sass/page/product_detail.scss */
.tab-content .grid .col-1-4 {
  height: 510px;
}

/* line 20, ../../sass/page/product_detail.scss */
.product-list.grid {
  min-width: 100%;
}

/* line 21, ../../sass/page/product_detail.scss */
.product-list.grid .col-2-3,
.product-list.grid .col-1-3 {
  float: left;
}

/* line 25, ../../sass/page/product_detail.scss */
.product-list.grid .product {
  float: left;
  margin-bottom: 1em;
}

/* line 29, ../../sass/page/product_detail.scss */
.product-list.grid .product img {
  width: 175px;
}
