@CHARSET "UTF-8";
/**
 * Contact us page
 *
 * This page uses the following plugins:
 * - store locator plus
 * - gravity forms
 *
 * @link http://accessnsm.com/contact-us
 * @link https://www.gravityhelp.com/documentation/article/css-ready-classes/
 */

/**
 * Bootstrap field height
 *
 * I don't know why it's broken
 */
select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"],
input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
    height: 2em;
}

/**
 * date picker broken because of bootstrap
 */

.ui-datepicker-title select {
    width: auto;
}

/* store locator */

    /**
     * search zip code field
     */
    #addressInput {
        width: 4em;
    }
    /**
     * Distance dropdown
     */
    #addy_in_radius select {width: auto;}
