/**
 * Twitter widget in the homepage
 */
@import "compass/css3";

/** twitter */

$twitBoxHeight: 100px;
.twit-box {
    @include border-radius(5px);
    height: $twitBoxHeight;
    background-color: #f0c978;

    #twitt-left {
        @include border-radius(5px);
        background-color: #5b5b5b;
        color: #00aeef;
        padding: 30px 25px 20px;
        * {display: inline-block;}
        i.icon-twitter {
            font-size: 3em;
            margin-top:   -5px;
            margin-right: 10px;
        }
        h2 {
            color: #00aeef;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    a#twitt-left:hover, a#twitt-left:active  {text-decoration: none;}

    #ticker {
        height: $twitBoxHeight;
        overflow: hidden;
        padding: 10px;
        h2 {display: none;}
        ul {margin: 0; margin-left: 5px;}
    }
}


#home {
    /**
     * Space between top twiter box and 2 bottom columns
     */
    margin-top:20px;
    .home-right .widget-area {float: left;}
}

/* old code */
.home .span4 h2,
.home .span4 p {
    text-align:center;
}

.home .header.row-fluid {
    margin-bottom:0px;
}

.homebox {
    background: #fff;
    padding:               20px;
    @include border-radius(5px);
}

.homebox p {
    font-size:14px;
    margin-bottom:10px;
}
.homebox p small {
    font-size:11px;
    color:#bd7d07;
}
.homebox h2 {
    font-size: 18px;
    color:#005991;
}
.homebox a.readmore {
    float:left;
    clear:both;
    margin-top:20px;
}
.homebox.homeleft {
    padding-bottom:28px;
}

