@CHARSET "UTF-8";
/**
 * Rules to be applied to the product detail pages (PDP)
 */

.wp-caption.responsive {
    max-width: 50%;
}

/** hide date in the products */
#content .type-product .post-info {
    display: none;
}

/**
 * Product list
 */

.tab-content .grid .col-1-4 {height: 510px;}
.product-list.grid {min-width: 100%;}
.product-list.grid .col-2-3,
.product-list.grid .col-1-3 {
    float: left;
}
.product-list.grid .product {
    float: left;
    margin-bottom: 1em;
}
.product-list.grid .product img {
    width: 175px;
}