@CHARSET "UTF-8";
/**
 * Menu CSS
 *
 * This are all the CSS rules found in different CSS files and merged in a single file to make it easier to maintain
 */
/* line 8, ../sass/menu.scss */
#nav * {
  -ms-touch-action: none !important;
}

/**
 * 1st level menu
 */
/* line 15, ../sass/menu.scss */
.menu-accessnsm-container {
  margin-top: -5px;
}

/* line 19, ../sass/menu.scss */
.menu-primary a, #header .menu a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 7px 13px 6px !important;
  position: relative;
  text-decoration: none;
  border-bottom: 10px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 34, ../sass/menu.scss */
.menu-primary,
.menu-secondary,
#header .menu {
  clear: both;
  color: #fff;
  font-size: 13px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

/* line 44, ../sass/menu.scss */
#header .menu {
  box-sizing: border-box;
}

/* line 47, ../sass/menu.scss */
.menu-primary ul,
.menu-secondary ul,
#header .menu ul {
  float: left;
  width: 100%;
}

/* line 53, ../sass/menu.scss */
.menu-primary li,
.menu-secondary li,
#header .menu li {
  float: left !important;
  list-style-type: none;
}

/* line 59, ../sass/menu.scss */
.menu-primary a,
#header .menu a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 7px 26px 6px;
  position: relative;
  text-decoration: none;
  border-bottom: 10px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 74, ../sass/menu.scss */
.menu-primary li a:active,
.menu-primary li a:hover,
.menu-primary .current_page_item a,
.menu-primary .current-cat a,
.menu-primary .current-menu-item a,
#header .menu li a:active,
#header .menu li a:hover,
#header .menu .current_page_item a,
#header .menu .current-cat a,
#header .menu .current-menu-item a {
  background-color: transparent;
  color: #f4ca7d;
  font-weight: bold;
  border-bottom: 10px solid #f9c24d;
}

/* line 89, ../sass/menu.scss */
.menu-primary li li a,
.menu-primary li li a:link,
.menu-primary li li a:visited,
.menu-secondary li li a,
.menu-secondary li li a:link,
.menu-secondary li li a:visited,
#header .menu li li a,
#header .menu li li a:link,
#header .menu li li a:visited {
  background: none;
  background-color: #1c5a93;
  background-color: rgba(28, 90, 147, 0.8);
  border-bottom: 1px solid #2573a4;
  border-top: none;
  color: #fff;
  font-size: 12px;
  padding: 9px 10px 8px;
  position: relative;
  text-transform: none;
  width: 156px;
  text-align: left !important;
}

/* line 111, ../sass/menu.scss */
.menu-primary li li a:active,
.menu-primary li li a:hover,
.menu-secondary li li a:active,
.menu-secondary li li a:hover,
#header .menu li li a:active,
#header .menu li li a:hover {
  background-color: #1c5a93;
  background-color: rgba(28, 90, 147, 0.8);
  color: #fec357;
  border-bottom: 1px solid #fec357;
}

/* line 122, ../sass/menu.scss */
.menu-primary li ul,
.menu-secondary li ul,
#header .menu li ul {
  height: auto;
  left: -9999px;
  margin: -10px 0 0 0px;
  position: absolute;
  width: 176px;
  z-index: 9999;
}

/* line 132, ../sass/menu.scss */
.menu-primary li ul a,
.menu-secondary li ul a,
#header .menu li ul a {
  width: 140px;
}

/**
 * 2nd and 3rd level menu container
 */
/* line 141, ../sass/menu.scss */
.menu-primary li ul ul,
.menu-secondary li ul ul,
#header .menu li ul ul {
  margin: -36px 0 0 156px;
}

/* line 150, ../sass/menu.scss */
.menu li:hover ul ul,
.menu li.sfHover ul ul {
  left: -9999px;
}

/* line 154, ../sass/menu.scss */
.menu li:hover,
.menu li.sfHover {
  position: static;
}

/* line 158, ../sass/menu.scss */
ul.menu li:hover > ul,
ul.menu li.sfHover ul,
#header .menu li:hover > ul,
#header .menu li.sfHover ul {
  left: auto;
}

/* line 167, ../sass/menu.scss */
.menu li a .sf-sub-indicator,
.menu li li a .sf-sub-indicator,
.menu li li li a .sf-sub-indicator {
  display: none;
}

/* line 173, ../sass/menu.scss */
.sub-menu {
  /*    border-top: 10px solid #F9C24D; */
}

/* line 177, ../sass/menu.scss */
#menu-top-menu > li {
  line-height: 1.4em;
  padding-top: 0px;
}

/* line 184, ../sass/menu.scss */
ul#footer-menu-text,
ul#menu-top-menu,
ul#menu-sub-menu {
  margin: 0 auto !important;
  text-align: justify !important;
}

/* line 191, ../sass/menu.scss */
ul#menu-top-menu li,
ul#menu-sub-menu li,
ul#footer-menu-text li {
  display: inline-block !important;
  float: none !important;
}

/* line 199, ../sass/menu.scss */
ul#footer-menu-text li,
ul#menu-footer-menu li {
  display: inline;
  float: left;
  list-style: none outside none;
  padding-right: 10px;
}

/* line 207, ../sass/menu.scss */
ul#footer-menu-text li span,
ul#footer-menu-text li a,
ul#footer-menu-text li a:visited {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  -ms-transition: 0.5s  ease-in;
  transition: 0.5s ease-in;
}

/* line 222, ../sass/menu.scss */
ul#footer-menu-text li a:hover {
  text-decoration: none;
  color: #F4CA7D;
}

/* line 229, ../sass/menu.scss */
ul#menu-footer-menu li span,
ul#menu-footer-menu li a,
ul#menu-footer-menu li a:visited {
  color: #262626;
  font-size: 13px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  -ms-transition: 0.5s  ease-in;
  transition: 0.5s ease-in;
}

/* line 242, ../sass/menu.scss */
ul#menu-footer-menu li a:hover {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}

/* line 250, ../sass/menu.scss */
#nav_menu-2 {
  width: 96%;
  max-width: 370px;
  margin: -10px auto 0;
  float: left;
  clear: left;
}
