@media only screen and (max-width: 1024px) {

    .add-line2, .add-line1 {
        font-size:12px;
    }

    #contact-map-inner span {
        font-size: 1.2em;
        left: 40px;
        top: 50px;
    }

    .arrowtbox .row-fluid .span6 {
        margin-left: 0;
    }

    .ie9 .menu-primary,
    .ie9 .menu-secondary,
    .ie9 #header .menu,
    .ie10 .menu-primary,
    .ie10 .menu-secondary,
    .ie10 #header .menu {
        font-size: 12px;
    }

    .ie10 .s {
        margin-right:0px !important;
    }

    .widget-area.search-box .searchform {
        padding-top: 10px;
    }

    #text-4 {
        max-width: 710px;
        width: 96%;
    }

    #left-fix {
        padding-left: 20px;
    }


    ul#footer-menu-text li span,
    ul#footer-menu-text li a,
    ul#footer-menu-text li a:visited {
        font-size: 12px;
    }
}