@media only screen and (max-width: 320px) {

    #contact-map-inner span {
        font-size: 1em;
        top: 30px;
    }

    .really_simple_twitter_widget > li:last-child {
        display: none;
    }

}