@media only screen and (max-width: 360px) {
    #contact-map-inner span a {
        top: 30px;
        font-size: 13px;
    }

    .wpcf7-form .arrowtbox {
        padding: 20px 15px;
    }

    .flexslider-hg ul.slides li img {
        max-width: 690px !important;
        width: 690px !important;
        margin-left:-239px !important;
    }

    .twit-box {
        height: 17.5em;

    }
    #ticker {
        height: 9.5em;

    }

    #ticker ul.newsticker li{
        height:9.5em
    }
}
