@media only screen and (max-width: 420px) {

    ul#menu-footer-menu {
        padding-left: 0px;
    }

    ul#menu-footer-menu li {
        display: block !important;
        clear:both !important;
        float: none !important;
        magin-left:auto !important;
        margin-right:auto !important;
        list-style: none outside none;
        paddin-bottom:3px;
        padding-right: 0px;
        text-align:center !important;
    }

    ul#menu-footer-menu .bull {
        display:none;
    }

    ul#menu-footer-menu li span,
    ul#menu-footer-menu li a,
    ul#menu-footer-menu li a:visited,
    ul#menu-footer-menu li a:hover {
        font-size: 15px;
    }

    #nav_menu-2 {
        max-width: 300px;
        width: 96%;
    }

    #text-3 {
    text-align: center;

    }

    .blog-content p {
        width: 57%;
    }

    .blog-content p {
        clear: left;
        float: left;
        width: 96%;
        clear:both;
    }

    .blog-content .wp-post-image {
        float: none;
        text-align: center;
        margin:5px auto;
        clear:both;
    }


    #ticker {
        height: 7.5em;
    }

    .twit-box {
        height: 15em;
    }

    .popover {
        font-size: 10px;
        max-width: 146px !important;
    }

    .homebox h2 {
        font-size: 15px;
        font-weight: 600;
    }

    .arrowtbox h1 {
        font-size: 16px;
        font-weight: bold;
    }

    div#sl_div div#address_search LABEL {
        display: inline-block;
        padding-right: 9px;
        text-align: right;
        width: 128px;
    }

    div#sl_div div#address_search LABEL {
        display: block !important;
        text-align: left !important;
    }

    .before-content-widget img {
        max-width: 570px;
        overflow: hidden;
        width: 570px;
    }

    .follow-button iframe {
        width: 142px !important;
    }

    #ticker {
        height: 9em;
    }

    .twit-box {
        height: 16.5em;
    }

    #home-top-twitter-3 ul {
        width: 89%;
    }

    #contact-map-inner span {
        font-size: 0.9em;
    }

    #contact-map-inner span a {
        top: 40px;
        font-size: 1.2em;
    }

    .flexslider-hg ul.slides li img {
        max-width: 700px !important;
        width: 700px !important;
        margin-left:-239px !important;
    }

    .slide-data .slide-title {
        font-size: 12px;
    }

    .slide-data p {
        font-size: 11px;
    }

}