@media only screen and (max-width: 479px) {

    .wpcf7-form label {
        min-width: 90px;
        width: 29%;
    }

    textarea.wpcf7-textarea, input.wpcf7-text {
        width: 200px;
    }

    input, textarea, .uneditable-input {
        width: 126px;
    }

    select#radiusSelect {
        width: 140px;
    }

    #ticker {
        height: 8em;
    }

    .twit-box {
        height: 16em;
    }

    #home-top-twitter-3 ul {
        width: 90%;
    }

    #contact-map-inner span {
        font-size: 1em;
        top: 40px;
    }

    #contact-map-inner span a {
        top: 45px;
    }

    .flexslider-hg ul.slides li img {
        height: auto;
        max-width: 800px !important;
        width: 800px !important;
        margin-left:-289px !important;
    }

}
