
@media only screen and (max-width: 520px) {

    #text-4 {
        max-width: 300px;
        width: 96%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    ul#footer-menu-text li {
        display: block !important;
        clear:both !important;
        float: none !important;
        magin-left:auto !important;
        margin-right:auto !important;
        list-style: none outside none;
        paddin-bottom:3px;
        padding-right: 0px;
        text-align:center !important;
    }

    #nav_menu-2 {
        margin: 10px auto 0;;
    }

    ul#footer-menu-text li span,
    ul#footer-menu-text li.display-none {
        display:none !important;
    }

    ul#footer-menu-text li span,
    ul#footer-menu-text li a,
    ul#footer-menu-text li a:visited {
        font-size: 13px;
        text-align:center !important;

    }

    #nav_menu-2 {
        max-width: 355px;

    }

    ul#menu-footer-menu {
        padding-left:10px;
    }

    .blog-content p {
        clear: left;
        float: left;
        width: 100%;
    }

    .blog-content .span7 p {
        padding-right:0px;
    }

    #contact-map-inner span {
        font-size: 1.1em;
        top: 50px;
    }

    textarea.wpcf7-textarea, input.wpcf7-text {
        width: 150px;
    }

    span.wpcf7-list-item {
        clear: both;
        float: left;
        margin-left: 0.5em;
    }

    label#zip-lab {
        max-width: 120px;
        width: 29%;
    }

    label#state-lab {
        max-width: 120px;
        width: 29%;
        float:left;
        clear:both;
        margin-bottom:10px;
    }

    #states {
        margin-bottom:10px;
    }


}