@media only screen and (max-width: 540px) {

    .logo.span8 {
        margin: 0 auto !important;
        width: 96%;
    }


    .flexslider-hg ul.slides li img {
        margin-left:-259px !important;
    }


}
