@media only screen and (max-width: 660px) {

    #contact-map-inner span {
        font-size: 1.3em;
        top: 50px;
    }

    #nav_menu-2 {
        clear: both;
        float:none;
        margin: 8px auto 0;
        max-width: 350px;
        width: 96%;
    }

    #text-3 {
        clear: both;
        float: none;
        margin: 10px auto 0;
        max-width: 300px;
        text-align: center;
        width: 96%;
    }

    #sidebar .widget {
        display: block;
        float: none;
        margin: 10px 2.5%;
        width: 96%;
    }

    #menu-footer-menu {
        width:100%;
    }

}