



@media only screen and (max-width: 700px) {

    #text-3 {
        margin: -22px auto 0;

    }

    .flexslider-hg ul.slides li img {
        height: auto;
        max-width: 800px !important;
        width: 800px !important;
        margin-left:-120px !important;
    }

    .slide-data {
        bottom: 5%;
        max-width: 350px;
        position: absolute;
        right: 0% !important;
        left: 5% !important;
        width: 80%;
    }

    ul#footer-menu-text li {
        display: block !important;
        clear:both !important;
        float: none !important;
        magin-left:auto !important;
        margin-right:auto !important;
        list-style: none outside none;
        paddin-bottom:3px;
        padding-right: 0px;
        text-align:center !important;
    }

    ul#footer-menu-text li span,
    ul#footer-menu-text li.display-none {
        display:none !important;
    }

    ul#footer-menu-text li span,
    ul#footer-menu-text li a,
    ul#footer-menu-text li a:visited {
        font-size: 13px;
        text-align:center !important;

    }

    #nav_menu-2 {
        clear: both;
        margin: 10px auto 0;
    }


}