
@media only screen and (max-width: 768px) {
    .header .widget-area.search-box {
        display:none;
    }

    .home #inner {
        clear: both;
        padding-top: 10px;
    }

    .header {
        margin: 5px auto;
    }

    .thumbnail p,
    .thumbnail h3 {
        text-align: center;
    }

    .thumbnail .btn {
        display: block !important;
        float: none !important;
        margin: 0 auto 25px !important;
        width: 120px !important;
    }

    textarea.wpcf7-textarea, input.wpcf7-text {
        width: 200px;
    }

    .wpcf7-form label {
        max-width: 120px;
        width: 29%;
    }

    label#zip-lab {
        max-width: 120px;
        width: 29%;
    }

    #zip-box .wpcf7-form-control-wrap {
        float: left;
        width: 45px;
    }

    #states {
        width: 55px;
    }

    #zip {
        width: 40px;
    }

    textarea.wpcf7-textarea {
        margin-bottom: 10px;
    }

    span.wpcf7-list-item {
        clear: both;
        float: left;
        margin-left: 0.5em;
    }

    .span4.results_row_left_column,
    .results_entry span {
        text-align:center !important;

    }

    .how-top .imgbox {
        margin-top: 5px;
        padding-top: 15px;
    }

    .how-top .textbox {
        margin-top: 15px;
        padding: 15px 0px 0 0px;
    }

    .textbox {
        margin-top: 0;
        padding: 0 0px 0 0px;
    }

    .before-content-widget img {
        max-width: 800px;
        overflow: hidden;
        width: 800px;
    }

    .blog-content p {
        float: left;
        width: 58%;
    }

    #nav_menu-2 {
        clear: both;
        margin: -10px auto 0;
        max-width: 350px;
        width: 96%;
    }

    #contact-map-inner span {
        font-size: 1em;
        top: 40px;
    }

    .contact-us .span6.img-round img {
        max-width:99%;
    }


    #header {
        background: none transparent;
        border-bottom: 0px solid #4E8F9D;
        padding-bottom:20px;
        box-shadow: 0 0px 0px 0px black;
    }

    .ie9 .logo.span8 img,
    .ie10 .logo.span8 img {
        width:96%;
        max-width:485px;
    }

    a.btn.btn-navbar {
        display:block;
    }

    .nav-collapse,
    .nav-collapse.collapse {
        height: 0;
        overflow: hidden;
    }

    .nav-collapse.in.collapse {
        height: auto !important;
        overflow: visible;
    }

    .menu-primary,
    .menu-secondary,
    #header .menu {
        font-size: 11px;
    }

    .navbar-inner{
        min-height:40px;
        padding-left:20px;
        padding-right:20px;
        background-color:#696B73;
        background-image:-moz-linear-gradient(top, #696B73, #696B73);
        background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#696B73), to(#696B73));
        background-image:-webkit-linear-gradient(top, #696B73, #696B73);
        background-image:-o-linear-gradient(top, #696B73, #696B73);
        background-image:linear-gradient(to bottom, #696B73, #696B73);
        background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#696B73', endColorstr='#696B73', GradientType=0);
        border:1px solid #d4d4d4;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;border-radius:4px;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);*zoom:1;
        position: relative;
        z-index: 222;
    }

    .ie10 .navbar-inner,
    .ie9 .navbar-inner {
        background-color:#696B73;
        background-image:-moz-linear-gradient(top, #696B73, #696B73);
        background-image:-webkit-linear-gradient(top, #696B73, #696B73);
        background-image:-o-linear-gradient(top, #696B73, #696B73);
        background-image:linear-gradient(to bottom, #696B73, #696B73);
        background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#696B73', endColorstr='#696B73', GradientType=0);
    }

    .navbar .btn-navbar {
        background-color: #696B73 !important;
        background-image: none !important;
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
        color: #FFFFFF;
        display: none;
        float: right;
        margin-left: 5px;
        margin-right: 5px;
        padding: 7px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

    .navbar .btn-navbar:hover,
    .navbar .btn-navbar:focus,
    .navbar .btn-navbar:active,
    .navbar .btn-navbar.active,
    .navbar .btn-navbar.disabled,
    .navbar .btn-navbar[disabled] {
        background-color: #696B73 !important;
        background-image: none !important;
        color: #FFFFFF;
    }
    .navbar .btn-navbar:active,
    .navbar .btn-navbar.active {
        background-color: #696B73 !important;
        color: #FFFFFF;
    }
    .navbar .btn-navbar .icon-bar {
        background-color: #F5F5F5;
        border-radius: 1px 1px 1px 1px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        display: block;
        height: 2px;
        width: 18px;
    }

    .menu-primary li,
    .menu-primary li ul,
    .menu-primary li ul a,
    .menu-secondary li,
    .menu-secondary li ul,
    .menu-secondary li ul a,
    #header .menu li,
    #header .menu li ul,
    #header .menu li ul a {
        width: 100%;
    }
        .five-sixths,
    .four-fifths,
    .four-sixths,
    .one-fifth,
    .one-fourth,
    .one-half,
    .one-sixth,
    .one-third,
    .three-fifths,
    .three-fourths,
    .three-sixths,
    .two-fifths,
    .two-fourths,
    .two-sixths,
    .two-thirds {
        padding: 0;
        width: 100%;
    }

    .menu-primary li a,
    .menu-secondary li a,
    #header .menu li a {
        margin: 0;
        padding: 7px 3%;
    }

    .menu li li a .sf-sub-indicator,
    .menu li li li a .sf-sub-indicator {
        background: url(images/icon-plus-white.png) right no-repeat;
    }

    .menu-primary li li a,
    .menu-primary li li a:link,
    .menu-primary li li a:visited,
    .menu-secondary li li a,
    .menu-secondary li li a:link,
    .menu-secondary li li a:visited,
    #header .menu li li a,
    #header .menu li li a:link,
    #header .menu li li a:visited {
        background: none;
        color: #fff;
        padding: 7px 3%;
        width: 94%;
    }

    #header .menu li li a:hover {
        color: #f9c24d;
    }

    .menu-primary li li a,
    .menu-primary li li a:link,
    .menu-primary li li a:visited,
    .menu-secondary li li a,
    .menu-secondary li li a:link,
    .menu-secondary li li a:visited,
    #header .menu li li a,
    #header .menu li li a:link,
    #header .menu li li a:visited {
        border-bottom: 1px solid #f9c24d;
    }

    .menu-primary li ul,
    .menu-secondary li ul,
    #header .menu li ul {
        background: #696B73;
        border-top: 10px solid #f9c24d;
        clear: both;
        margin: -10px 0 0;
        padding: 0;
        position: inherit;
    }

    .menu-primary li ul ul,
    .menu-secondary li ul ul,
    #header .menu li ul ul {
        background: #666;
    }

    .menu-primary li ul ul ul,
    .menu-secondary li ul ul ul,
    #header .menu li ul ul ul {
        background: #999;
    }

    .menu-primary li ul ul,
    .menu-secondary li ul ul,
    #header .menu li ul ul {
        margin: 0;
    }

    #text-4 {
        max-width: 610px;
        width: 96%;
    }


    #left-fix {
        padding-left: 10px;
    }



    #text-4 p {
        height:15px;
    }

    ul#footer-menu-text li span,
    ul#footer-menu-text li a,
    ul#footer-menu-text li a:visited {
        font-size: 11px;

    }

    #home .home-left.span6 {
        margin-bottom:25px;
    }

    #ticker {
        -webkit-border-radius: 0px 5px 5px 5px;
        border-radius: 0px 5px 5px 5px;
    }

    .twit-box {
        border-radius: 0px 5px 5px 5px;
        -webkit-border-radius: 0px 5px 5px 5px;
        height: 14em;
    }

    #twitt-left {
        -webkit-border-radius: 5px 5px 0px 0px;
        border-radius: 5px 5px 0px 0px;
    }


    .events-archive .tribe-events-event-entry {
        width: 96%;
        clear:both;
        padding: 0 0% 0 0;
    }

    .tribe-events-events .tribe-events-event-list-meta {
        border-left: 0px solid #CCCCCC;
        float: left;
        padding: 25px 0 0 0%;
        width: 96%;
    }

    .events-list.events-archive .upcoming .tribe-events-calendar-buttons {
        top: 0px;
    }


    .really_simple_twitter_widget > li:last-child {
        display: none;
    }

    #home-top-twitter-3 ul {
        padding-top: 10px;
        padding-left: 25px;
        width: 94%;
    }

    #ticker {
        height: 8em;
    }

    .blog-content .wp-post-image {
        float: left;
        text-align: left;
        margin: 10px 0;
    }

    .blog-content p {
        float: left;
        width: 100%;
    }

    .blog-content .span7 p {
        padding-right:0px;
    }




}