@media only screen and (max-width: 860px) {

    .widget-area.search-box .searchform {
        padding-top: 0px;
    }

    .span6 img,
    .span5 img {
        max-width:99% !important;
    }

    #top-text {
        margin-top:15px;
    }

}