@media only screen and (max-width: 910px) {

    #arrow-box-container .span6,
    #arrow-box-container .span5 {
        clear:both;
        margin-left:0;
        width:96%;
    }

    .contact-us #top-text {
        margin-top:25px;
    }

    textarea.wpcf7-textarea, input.wpcf7-text {
        width: 200px;
    }


    .wpcf7-form label {
        max-width: 100px;
        width: 25%;
    }

    label#zip-lab {
        max-width: 100px;
        width: 25%;
    }

    .twit-box {
        height: 7.5em;

    }
    #ticker {
        height: 7.5em;

    }
    #twitt-left {
        height: 7.5em;

    }
}