@media only screen and (max-width: 960px) {
    .archive-page,
    .content-sidebar #content,
    .content-sidebar-sidebar #content,
    .footer-widgets-1,
    .footer-widgets-2,
    .footer-widgets-3,
    .full-width-content #content,
    .sidebar,
    .sidebar-content #content,
    .sidebar-content-sidebar #content,
    .sidebar-sidebar-content #content,
    #content-sidebar-wrap,
    #footer .creds,
    #footer .gototop,
    #footer-widgets .wrap,
    #header .widget-area,
    #sidebar-alt,
    #title-area,
    #wrap {
        width: 100%;
    }

    #sidebar .widget {
        display: inline;
        float: left;
        margin: 10px 2.5%;
        width: 45%;
    }

    #wrap {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
    }

    #description,
    #footer .creds,
    #title,
    #title-area {
        float: none;
        text-align: center;
    }

    #title-area {
        padding: 10px 0;
    }

    #description,
    #title a,
    #title a:hover {
        padding: 0;
    }

    #header .widget-area {
        padding: 0 0 10px;
    }

    #header .searchform {
        float: none;
        padding: 0;
        text-align: center;
    }

    #header .s {
        margin: 0 -7px 0 0;
    }

    .menu li.right {
        display: none;
    }

    #inner {
        padding: 20px 0 0;
    }

    .breadcrumb,
    .navigation,
    .sidebar .widget,
    .taxonomy-description {
        margin: 0 20px 20px;
    }
        #content {
        padding: 0;
    }

    .page .page,
    .post,
    #comments,
    #respond {
        padding: 0 20px;
    }

    .author-box {
        margin: 0 20px 40px;
    }
        #footer-widgets .widget {
        padding: 20px 20px 0;
    }

    #footer-widgets .wrap {
        padding: 0;
    }

    .footer-widgets-1,
    .footer-widgets-2,
    .footer-widgets-3 {
        margin: 0;
    }


    .wpcf7-form .row-fluid #top-text {
        margin-top: 25px;
    }

}