@media only screen and (max-width: 980px) {
    .home .header.row-fluid {
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .home #inner {
        padding: 0;
        clear:both;
    }

    form {
        margin: 0 0 10px;
    }

    a.btn.btn-navbar {
        display:none;
    }

    .nav-collapse, .nav-collapse.collapse {
        height: auto;
        overflow: visible;
    }

    /**
     * Make the menu font smaller for it to fit in smaller screens
     */
    #header .menu, .menu-primary, .menu-secondary {
        font-size: 10px;
    }

    #contact-map {
        margin-top: 5px;

    }

    .ie10 .menu-primary,
    .ie10 .menu-secondary,
    .ie10 #header .menu {
        font-size: 10.5px;
    }

    .ie10 .menu-primary a,
    .ie10 #header .menu a {
        padding: 7px 8px 6px;
    }
}
