@CHARSET "UTF-8";
/**
 * This is a file to restore the bootstrap style, broken by the existing style
 *
 * Notice the Bootstrap version used is 2.x
 */

/**
 * Fix tabs
 *
 * @link http://getbootstrap.com/2.3.2/javascript.html#tabs
 */
ul.nav.nav-tabs {
    padding: 0;
}
ul.nav.nav-tabs > li {
    list-style: outside none none;
    margin: 0;
}

.tab-content { margin-top: 20px;}

.nav-tabs > li > a:hover, .nav-tabs > li > a {
    border-color: #ddd #ddd #ccc;
}
.nav > li > a:hover, .nav > li > a {
    background-color: #ddd;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #dddddd;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #eeeeee;
    text-decoration: none;
}