/**
 * Style for the header
 */

/**
 * #top-social-networks is the list of social netwok icons on top of the search box.
 *
 * All header content is defined as a widget in the "Header Right" area. The
 * #top-social-networks is an UL of icons.
<ul id="top-social-networks">
    <li>
        <a target="_blank" href="https://www.pinterest.com/accessnsm" target="_blank">
          <img src="/wp-content/themes/nsm-seating/images/pint.png">
        </a>
    </li>
    <li>
        <a target="_blank" href="https://plus.google.com/104959408663017534791/about">
          <img src="/wp-content/themes/nsm-seating/images/gplus.png">
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.youtube.com/playlist?list=PLOI1LRYQCW-A35eis12nZve3EiJkCTTx1">
          <img src="/wp-content/themes/nsm-seating/images/youtube.png">
        </a>
    </li>
</ul>
 */
#text-100 .textwidget  {
    position: relative;

    /* top-mid-subtitle*/
    h2 { font-size: 26px; }
    #top-social-networks {
        position: absolute;
        right: -270px;
        top:    -15px;
        list-style: none;
        li {
            float: left;
            margin-right: 25px;
            img {
                height: 30px;
            }
        }
    }
}