@CHARSET "UTF-8";
/**
 * Menu CSS
 *
 * This are all the CSS rules found in different CSS files and merged in a single file to make it easier to maintain
 */

/**
 * 1st level menu
 */
.menu-accessnsm-container{
    margin-top: -5px;
}

.menu-primary a, #header .menu a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 7px 13px 6px!important;
  position: relative;
  text-decoration: none;
  border-bottom: 10px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-primary,
.menu-secondary,
#header .menu {
    clear: both;
    color: #fff;
    font-size: 13px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.menu-primary ul,
.menu-secondary ul,
#header .menu ul {
    float: left;
    width: 100%;
}

.menu-primary li,
.menu-secondary li,
#header .menu li {
    float: left!important;
    list-style-type: none;
}

.menu-primary a,
#header .menu a {
    color: #fff;
    font-weight:bold;
    text-transform:uppercase;
    display: block;
    padding: 7px 26px 6px;
    position: relative;
    text-decoration: none;
    border-bottom:10px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu-primary li a:active,
.menu-primary li a:hover,
.menu-primary .current_page_item a,
.menu-primary .current-cat a,
.menu-primary .current-menu-item a,
#header .menu li a:active,
#header .menu li a:hover,
#header .menu .current_page_item a,
#header .menu .current-cat a,
#header .menu .current-menu-item a {
    background-color: transparent;
    color: #f4ca7d;
    font-weight:bold;
    border-bottom:10px solid #f9c24d;
}

.menu-primary li li a,
.menu-primary li li a:link,
.menu-primary li li a:visited,
.menu-secondary li li a,
.menu-secondary li li a:link,
.menu-secondary li li a:visited,
#header .menu li li a,
#header .menu li li a:link,
#header .menu li li a:visited {
    background: none;
    background-color:  rgb(28, 90, 147);
    background-color: rgba(28, 90, 147, 0.9);
    border-bottom: 1px solid #2573a4;
    border-top: none;
    color: #fff;
    font-size: 12px;
    padding: 9px 10px 8px;
    position: relative;
    text-transform: none;
    width: 156px;
    text-align: left !important;
}

.menu-primary li li a:active,
.menu-primary li li a:hover,
.menu-secondary li li a:active,
.menu-secondary li li a:hover,
#header .menu li li a:active,
#header .menu li li a:hover {
    background-color: rgb(28, 90, 147);
    background-color: rgba(28, 90, 147, 0.8);
    color: #fec357;
    border-bottom: 1px solid #fec357;
}

.menu-primary li ul,
.menu-secondary li ul,
#header .menu li ul {
    height: auto;
    left: -9999px;
    margin: -10px 0 0 0px;
    position: absolute;
    width: 176px;
    z-index: 9999;
}
.menu-primary li ul a,
.menu-secondary li ul a,
#header .menu li ul a {
    width: 140px;
}

/**
 * 2nd and 3rd level menu container
 */
.menu-primary   li ul ul,
.menu-secondary li ul ul,
#header .menu   li ul ul {
    margin:
        -36px  /* still no idea what this is for */
        0 0    /* no left nor bottom space */
        156px  /* space between 2nd level and 3rd level (margin-left) */
    ;
}

.menu li:hover ul ul,
.menu li.sfHover ul ul {
    left: -9999px;
}

.menu li:hover,
.menu li.sfHover {
    position: static;
}

ul.menu li:hover>ul,
ul.menu li.sfHover ul,
#header .menu li:hover>ul,
#header .menu li.sfHover ul {
    left: auto;
}

.menu-primary li a.sf-with-ul,
.menu-secondary li a.sf-with-ul,
#header .menu li a.sf-with-ul {}
.menu li a .sf-sub-indicator,
.menu li li a .sf-sub-indicator,
.menu li li li a .sf-sub-indicator {
    display:none;
}

#menu-top-menu>li {
    line-height: 1.4em;
    padding-top:0px
}

ul#footer-menu-text,
ul#menu-top-menu,
ul#menu-sub-menu {
    margin: 0 auto !important;
    text-align: justify !important;
}

ul#menu-top-menu li,
ul#menu-sub-menu li,
ul#footer-menu-text li {
    display: inline-block !important;
    float: none !important;
}

ul#footer-menu-text li,
ul#menu-footer-menu li {
    display: inline;
    float: left;
    list-style: none outside none;
    padding-right: 10px;

}

ul#footer-menu-text li span,
ul#footer-menu-text li a,
ul#footer-menu-text li a:visited {
    color: #fff;
    font-size: 14px;
    text-transform:uppercase;
    font-weight:bold;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s  ease-in;
    transition: 0.5s ease-in;

}

ul#footer-menu-text li a:hover {
    text-decoration: none;
    color: #F4CA7D;

}

ul#menu-footer-menu li span,
ul#menu-footer-menu li a,
ul#menu-footer-menu li a:visited {
    color: #262626;
    font-size: 13px;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s  ease-in;
    transition: 0.5s ease-in;

}

ul#menu-footer-menu li a:hover {
    color: #fff;
    font-size: 13px;
    text-decoration:none;

}

#nav_menu-2 {
    width:96%;
    max-width:370px;
    margin:-10px auto 0;
    float:left;
    clear:left;
}