/**
 * Imported CSS, I don't know from where
 */
.menu li.right {
    float: right;
    padding: 7px 15px 6px;
}

.menu li.right a {
    background: none;
    border: none;
    color: #333;
    display: inline;
    text-decoration: none;
}

.menu li.search {
    padding: 0 10px;
}

.menu li.rss a {
    background: url(images/rss.png) no-repeat center left;
    margin: 0 0 0 10px;
    padding: 0 0 0 16px;
}

.menu li.twitter a {
    background: url(images/twitter-nav.png) no-repeat center left;
    padding: 0 0 0 20px;
}

#inner {
    overflow: hidden;
    clear: both;
    margin: 0 auto;
    padding: 0 0 20px;
}

.breadcrumb {
    font-size: 14px;
    margin: -10px 0 30px;
    padding: 5px 10px;
}

.taxonomy-description {
    background-color: #fff;
    margin: -10px 0 30px;
    padding: 0 0 15px;
}

.taxonomy-description p {
    font-size: 14px;
    padding: 15px 15px 0;
}

#content-sidebar-wrap {
    float: left;
    width: 750px;
}

.entry-content p {
    margin: 0 0 25px;
}

blockquote {
    background: url(images/blockquote.png) no-repeat;
    border: none;
    margin: 5px 5px 20px;
    padding: 25px 30px 5px 70px;
}

blockquote p {
    color: #999;
    font-style: italic;
}

p.subscribe-to-comments {
    padding: 20px 0 10px;
}

.clear {
    clear: both;
}

.clear-line {
    border-bottom: 1px solid #ddd;
    clear: both;
    margin: 0 0 25px;
}

.five-sixths, .four-fifths, .four-sixths, .one-fifth, .one-fourth,
    .one-half, .one-sixth, .one-third, .three-fifths, .three-fourths,
    .three-sixths, .two-fifths, .two-fourths, .two-sixths, .two-thirds {
    float: left;
    padding-left: 3%;
    margin: 0 0 20px;
}

.one-half, .three-sixths, .two-fourths {
    width: 48%;
}

.one-third, .two-sixths {
    width: 31%;
}

.four-sixths, .two-thirds {
    width: 65%;
}

.one-fourth {
    width: 22.5%;
}

.three-fourths {
    width: 73.5%;
}

.one-fifth {
    width: 17.4%;
}

.two-fifths {
    width: 37.8%;
}

.three-fifths {
    width: 58.2%;
}

.four-fifths {
    width: 78.6%;
}

.one-sixth {
    width: 14%;
}

.five-sixths {
    width: 82%;
}

.first {
    clear: both;
    padding-left: 0;
}

.genesis-grid-even, .genesis-grid-odd {
    width: 48%;
    margin: 0 0 20px;
    padding: 0 0 15px;
}

.genesis-grid-odd {
    clear: both;
    float: left;
}

h1, h2, h2 a, h2 a:visited, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    margin: 0 0 10px;
}

h1 {
    font-size: 30px;
}

.taxonomy-description h1 {
    margin: 0;
}

h2, h2 a, h2 a:visited {
    font-size: 28px;
}

h2 a, h2 a:visited {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.widget-area h2, .widget-area h2 a {
    font-size: 14px;
    margin: 0 0 5px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

.widget-area h4 a {
    color: #333;
    text-decoration: none;
}

#footer-widgets h4 {
    background: none;
    border: none;
    padding: 0;
}

h5 {
    font-size: 18px;
}

.entry-content ol, .entry-content ul {
    margin: 0;
    padding: 0 0 25px;
}

.post-info {
    font-size: 14px;
    margin: -5px 0 15px;
}

.post-meta {
    border-top: 1px solid #ddd;
    clear: both;
    font-size: 14px;
    padding: 5px 0 0;
}

.author-box {
    background-color: #f5f5f5;
    overflow: hidden;
    margin: 0 0 40px;
    padding: 10px;
}

.sticky {
    background-color: #f5f5f5;
    margin: -10px 0 40px;
    padding: 20px;
}

.archive-page {
    float: left;
    width: 45%;
    padding: 20px 0 0;
}

.post-comments, .tags {
    background: url(images/icon-dot.png) no-repeat left;
    margin: 0 0 0 3px;
    padding: 0 0 0 10px;
}

img {
    height: auto;
    max-width: 100%;
}

.avatar, .featuredpage img, .featuredpost img, .post-image {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 4px;
}

.author-box .avatar {
    background-color: #fff;
    float: left;
    margin: 0 10px 0 0;
}

.post-image {
    margin: 0 10px 10px 0;
}

.comment-list li .avatar {
    background-color: #fff;
    float: right;
    margin: 5px 0 0 10px;
}

img.centered, .aligncenter {
    display: block;
    margin: 0 auto 10px;
}

img.alignleft {
    display: inline;
    margin: 0 15px 10px 0;
}

img.alignright {
    display: inline;
    margin: 0 0 10px 15px;
}

.alignleft {
    float: left;
    margin: 0 15px 10px 0;
}

.alignright {
    float: right;
    margin: 0 0 10px 15px;
}

.wp-caption {
    text-align: center;
    padding: 5px;
}

p.wp-caption-text {
    font-size: 14px;
    margin: 5px 0;
}

.wp-smiley, .wp-wink {
    border: none;
    float: none;
}

.navigation {
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

.navigation li {
    display: inline;
}

.navigation li a, .navigation li.disabled, .navigation li a:hover,
    .navigation li.active a {
    border: 1px solid #ddd;
    padding: 5px 8px;
}

#sidebar-alt {
    float: left;
    width: 150px;
}

.sidebar-content #sidebar, .sidebar-sidebar-content #sidebar {
    float: left;
}

.sidebar p {
    font-size: inherit;
}

.sidebar .widget {
    margin: 0 0 15px;
    padding: 0 0 15px;
}

.sidebar.widget-area ul ul li {
    border: none;
    margin: 0;
}

.widget_archive select, #cat {
    display: inline;
    width: 85%;
    margin: 5px 15px 0;
    padding: 3px;
}

.featuredpage, .featuredpost {
    clear: both;
    overflow: hidden;
    margin: 0 0 15px;
}

.featuredpage .page, .featuredpost .post {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    margin: 0 0 5px;
    padding: 0 15px 10px;
}

#footer-widgets .featuredpage .page, #footer-widgets .featuredpost .post
    {
    margin: 0 0 10px;
    padding: 0;
}

.enews p {
    padding: 0 15px 5px;
}

.enews #subscribe {
    padding: 0 0 0 15px;
}

.enews #subbox {
    width: 75%;
    margin: 5px -7px 0 0;
    padding: 6px 5px;
}

#wp-calendar caption {
    font-size: 12px;
    font-style: italic;
    text-align: right;
    padding: 2px 5px 0 0;
}

#wp-calendar thead {
    background-color: #f5f5f5;
    font-weight: 700;
    margin: 10px 0 0;
}

#wp-calendar td {
    background-color: #f5f5f5;
    text-align: center;
    padding: 2px;
}

#comments, #respond {
    overflow: hidden;
    margin: 0 0 15px;
}

#author, #comment, #email, #url {
    width: 250px;
    margin: 10px 5px 0 0;
    padding: 5px;
}

#comment {
    height: 150px;
    width: 98%;
    margin: 10px 0;
}

.ping-list {
    margin: 0 0 40px;
}

.comment-list ol, .ping-list ol {
    padding: 10px;
}

.comment-list li, .ping-list li {
    font-weight: 700;
    list-style-type: none;
    margin: 15px 0 5px;
    padding: 10px 15px;
}

.comment-list li ul li {
    list-style-type: none;
    margin-right: -16px;
}

.comment-content p {
    font-size: 14px;
    margin: 0 0 20px;
}

.comment-list cite, .ping-list cite {
    font-style: normal;
}

.commentmetadata {
    font-size: 12px;
    margin: 0 0 5px;
}

.reply {
    font-size: 14px;
    font-weight: 300;
}

.nocomments {
    text-align: center;
}

#comments .navigation {
    display: block;
}

.alt, .depth-1, .even {
    border: 1px solid #ddd;
}

a, a:visited, .menu li.right a:hover, h2 a:hover {
    color: #005991;
    text-decoration: none;
}

.header-full-width #title-area, .header-full-width #title,
    .header-full-width #title a, .content-sidebar #content-sidebar-wrap,
    .full-width-content #content-sidebar-wrap, .sidebar-content #content-sidebar-wrap,
    #wp-calendar {
    width: 100%;
}

.sidebar-content-sidebar #content-sidebar-wrap, .sidebar-sidebar-content #content-sidebar-wrap,
    .genesis-grid-even, .content-sidebar-sidebar #sidebar-alt {
    float: right;
}

.entry-content, .user-profile {
    overflow: hidden;
}

.author-box p, .navigation li a:hover, .navigation li.active a,
    .thread-alt, .thread-even {
    background-color: #f5f5f5;
}

.more-from-category, .user-profile p {
    padding: 5px 15px 0;
}

.logo.span8 img {
    padding-top: 5px;
    width: 100%;
}