@CHARSET "UTF-8";
/**
 * Wfs developer styles
 *
 * @todo Rules are too genric, so they WILL break other pages
 */

ul.tabs
{
    padding: 0px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}

ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:-2px; /*distance between tabs*/
}

ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 3px 3px 0 0;
    outline:none;
}

ul.tabs li a:visited
{
    color: #000;
}

ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}

ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
}


ul.tabs li.selected a:hover
{
    text-decoration: none;
}


div.tabcontents
{
    border: 1px solid #B7B7B7;
    padding: 12px;
    background-color:#FFF;
    border-radius: 0 3px 3px 3px;
    float: left;
    width: 96%;
}

/**
 * Gallery block
 */
.single_main_block {
    width: 25%;
    float: left;
    margin-right:  0;
    margin-bottom: 25px;
}

.single_image_block {
    width: 100%;
    float: left;
    text-align: center;
}

.single_list_content {
    padding: 4px;
    float: left;
}

.single_list_content ul{
    margin: 0px;
    padding: 0px;
    float: left;
    min-height: 100px;
}

.single_list_title1 {
    width: 100%;
    float: left;
    margin-top: 0.5em;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.5em;
    min-height: 25px;
}

.single_list_content1 {
    width: 100%;
    float: left;
}

.single_list_content1 ul{
    margin: 0px;
    padding: 0px;
    float: left;
    min-height: 122px;
}

.single_list_content1 ul li{
    list-style-type: disc;
    margin: 0 0 0 16px;
    padding: 0;
    font-size: 12px;
}


.single_list_content ul li{
    list-style-type: disc;
    margin: 0 0 0 16px;
    padding: 0;
    font-size: 12px;
}


.single_list_title {
     width: 100%;
    float: left;
    margin-top: 0.5em;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.5em;
    min-height: 40px;
}

.single_list_link {
    width: 100%;
    float: left;
    font-size: 11px;
    margin-top: 15px;
}

@media only screen and (max-width: 660px){

.gfield {
    width: 100%!important;
    }



}
#field_3_22.gfield.field_sublabel_below.field_description_below {

    width: 34%;
    float: left;
    clear: none;
}
#field_3_25.gfield.field_sublabel_below.field_description_below {

    display: table;
    width: 33%;
    float: left;
}
#field_3_32.gfield.field_sublabel_below.field_description_below {

    clear: left;
    float: left;
    width: 32%;
}
.clear-multi select {
    width: 100%;
}

.clear-multi #input_3_22_1_container {
    width: 30%;
}
#field_3_26.gfield.field_sublabel_below.field_description_below {
    display: table;
    float: left;
    width: 30%;
    clear: none;
}
#field_3_12.gfield.gf_middle_third.gfield_contains_required.field_sublabel_below.field_description_below {

    clear: none;
    float: left;
    width: 30%;
}
#field_3_31.gfield.field_sublabel_below.field_description_below {
    clear: none;
    float: left;
    width: 30%;
    margin-left: 20px!important;
}

li#field_3_18 {
    width: 50%;
}

input#gform_submit_button_3 {
    background: #F26C4A;
    color: white;
    font-size: 18px!important;
    padding: 12px!important;
    border: 0;
}

@media only screen and (max-width: 768px) {

    #AnythingPopup_BoxContainer1 {
        width: 95%!important;
        margin: auto;
        left: 0!important;
        right: 0;
    }
    div#AnythingPopup_BoxContainerBody1 h3 {
        font-size: 18px;
        margin: auto!important;
        width: 100%;
    }
    #AnythingPopup_BoxContainerBody1 {
        margin: 15px;
        overflow: auto;
        height: 290px;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        display: block;
    }
    #AnythingPopup_BoxContainerHeader1 {
        height: auto;
    }
}