article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section{display:block;}
audio,
canvas,
video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,
button,
input,
select,
textarea{font-family:sans-serif;color:#333;}
body,
figure,
form,
blockquote,
button,
input,
select,
textarea,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
fieldset{margin:0;}
ul,
ol,
button::-moz-focus-inner,
input::-moz-focus-inner,
fieldset,
input[type="checkbox"],
input[type="radio"]{padding:0;}
img,
legend,
button::-moz-focus-inner,
input::-moz-focus-inner,
fieldset{border:0;}
img{-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
a:focus{outline:thin dotted;}
a:hover,
a:active{outline:0;}
h1{font-size:2em;}
p{-webkit-hyphens:auto;-moz-hyphens:auto;-epub-hyphens:auto;hyphens:auto;margin:0;}
ol,
ul{list-style-type:none;}
abbr[title]{border-bottom:1px dotted;}
b,
strong{font-weight:bold;}
dfn,
em{font-style:italic;}
small,
sub,
sup{font-size:75%;}
sub,
sup{line-height:0;position:relative;vertical-align:baseline;}
q{quotes:none;}
q:before,
q:after{content:'';content:none;}
mark{background:#ff0;color:#000;}
pre,
code,
kbd,
samp{font-family:monospace,
 serif;_font-family:'courier new',
 monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
nav ul,
nav ol,
.widget ol,
.widget ul,
.comment-list{list-style:none;list-style-image:none;}
legend{*margin-left:-7px;}
button,
input,
select,
textarea{font-size:100%;vertical-align:baseline;*vertical-align:middle;}
button,
input{line-height:normal;}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
tarea,
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.wp-smiley,
.wp-wink{margin:0 !important;max-height:1em;}
#inner:before,
#inner:after,
#title-area:before,
#title-area:after,
.entry-content:before,
.entry-content:after,
.author-box:before,
.author-box:after,
.navigation:before,
.navigation:after,
.user-profile:before,
.user-profile:after,
.featuredpage:before,
.featuredpost:before,
.featuredpage:after,
.featuredpost:after,
.featuredpage .page:before,
.featuredpost .post:before,
.featuredpage .page:after,
.featuredpost .post:after,
#footer:before,
#footer:after,
#footer-widgets:before,
#footer-widgets:after,
.wrap:before,
.wrap:after,
#comments:before,
#respond:before,
#comments:after,
#respond:after,
.menu:before,
.menu:after,
.breadcrumb:before,
.breadcrumb:after{content:"";display:table;}
#inner:after,
#title-area:after,
.entry-content:after,
.author-box:after,
.navigation:after,
.user-profile:after,
.featuredpage:after,
.featuredpost:after,
.featuredpage .page:after,
.featuredpost .post:after,
#footer:after,
.wrap:after,
#comments:after,
#respond:after,
#footer-widgets:after,
.menu:after,
.breadcrumb:after{clear:both;}
#inner,
#title-area,
.entry-content,
.author-box,
.navigation,
.user-profile,
.featuredpage,
.featuredpost,
.featuredpage .page,
.featuredpost .post,
#footer,
.wrap,
#comments,
#respond,
#footer-widgets,
.menu,
.breadcrumb{zoom:1;}
.hidden{display:none;visibility:hidden;}
.clearfix{zoom:1;}
.clearfix:before,
.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.image-replacement{text-indent:100%;white-space:nowrap;overflow:hidden;}span.amp{font-family:Baskerville,
'Goudy Old Style',
Palatino,
'Book Antiqua',
serif;font-style:italic;}
.alert{margin:10px;padding:5px 18px;border:1px solid;}
.help{border-color:#e8dc59;background:#ebe16f;}
.info{border-color:#bfe4f4;background:#d5edf8;}
.error{border-color:#f8cdce;background:#fbe3e4;}
.success{border-color:#deeaae;background:#e6efc2;}
.button,
.button:visited{border:1px solid #be0d37;border-top-color:#db0f3f;border-left-color:#db0f3f;padding:4px 12px;color:#fff;display:inline-block;font-size:11px;font-weight:bold;text-decoration:none;text-shadow:0 1px rgba(0,0,0,0.75);cursor:pointer;margin-bottom:20px;line-height:21px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;background-color:#e40f42;background-image:-webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));background-image:-webkit-linear-gradient(top, #f01d4f, #e40f42);background-image:-moz-linear-gradient(top, #f01d4f, #e40f42);background-image:-o-linear-gradient(top, #f01d4f, #e40f42);background-image:-ms-linear-gradient(top, #f01d4f, #e40f42);background-image:linear-gradient(top, #f01d4f, #e40f42);}
.button:hover,.button:focus,.button:visited:hover,.button:visited:focus{color:#fff;border:1px solid #be0d37;border-top-color:#9d0a2d;border-left-color:#9d0a2d;background-color:#cc0e3b;background-image:-webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));background-image:-webkit-linear-gradient(top, #e40f42, #cc0e3b);background-image:-moz-linear-gradient(top, #e40f42, #cc0e3b);background-image:-o-linear-gradient(top, #e40f42, #cc0e3b);background-image:-ms-linear-gradient(top, #e40f42, #cc0e3b);background-image:linear-gradient(top, #e40f42, #cc0e3b);}
.button:active,.button:visited:active{background-color:#f01d4f;background-image:-webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));background-image:-webkit-linear-gradient(top, #e40f42, #f01d4f);background-image:-moz-linear-gradient(top, #e40f42, #f01d4f);background-image:-o-linear-gradient(top, #e40f42, #f01d4f);background-image:-ms-linear-gradient(top, #e40f42, #f01d4f);background-image:linear-gradient(top, #e40f42, #f01d4f);}
body{background-color:#f9f9f9;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.5;}
a,a:visited{color:#f01d4f;text-decoration:none;}a:hover,a:focus{color:#f34871;text-decoration:underline;}
::-moz-selection{background-color:#f01d4f;color:#fff;}::selection{background-color:#f01d4f;color:#fff;}
#wrap{background-color:#fff;}
#inner{padding:20px 0 0;margin:0 auto;}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{font-family:sans-serif;line-height:1.25em;margin:0 0 10px;}
h1,.h1{font-size:1.875em;}
h2,.h2{font-size:1.75em;}
h3,.h3{font-size:1.5em;}
h4,.h4{font-size:1.25em;}
h5,.h5{font-size:1.125em;}
#header{width:100%;min-height:100px;}
#header .widget-area{padding:0 0 10px;}
#header .searchform{text-align:center;}
#header .s{margin:0 -7px 0 0;}
#header .menu{border:1px solid #ddd;box-sizing:border-box;}
#title-area{text-align:center;}
#title{font-size:2.25em;line-height:1.125;text-transform:uppercase;text-align:center;}
#title a,#title a:visited{color:#333;text-decoration:none;}
#description{font-size:0.875em;text-align:center;}
.header-image #title-area{height:100px;overflow:hidden;text-indent:-9999;width:100%;padding:0;}
.header-full-width #title-area{width:100%;}
.menu{clear:both;background-color:#f5f5f5;border-bottom:1px solid #ddd;color:#333;}
.menu ul{list-style:none;}
.menu li a{color:#333;display:block;font-size:0.87em;position:relative;text-decoration:none;padding:10px 3%;border-bottom:1px solid #ddd;}
.menu li a:hover,.menu li a:focus{background-color:#fff;color:#333;}
.menu li ul{display:none;background:#333;position:inherit;}
.menu li li li a,.menu li li li a:link,.menu li li li a:visited{color:#fff;}
.menu li.current_page_item a,.menu li.current-cat a,.menu li.current-menu-item a{background-color:#fff;color:#333;}
.menu-primary{border-top:1px solid #ddd;}
.menu-secondary{border-top:0;}
#nav li.right{display:none;}
#nav .s{background-color:#fff;margin:2px 2px 0 0;}
.breadcrumb{font-size:0.875em;padding:5px 10px;margin:0 20px 20px;background-color:#f5f5f5;border:1px solid #ddd;}
.taxonomy-description{background-color:#fff;margin:0 20px 20px;}
.taxonomy-description h1{font-size:0.875em;margin:0;padding:9px 10px 8px;background-color:#f5f5f5;border-bottom:1px solid #ddd;}
.taxonomy-description p{font-size:0.875em;padding:15px;}
.archive-page{padding:20px 0 0;}
.archive-page ul,.archive-page ol{padding-bottom:25px;}
.archive-page ul ul,.archive-page ol ul{padding-bottom:0;}
.post{padding:0 20px;margin:0 0 40px;}
.page{padding:0 20px;}
.sticky{background-color:#f5f5f5;margin:-10px 0 40px;padding:20px;}
.post-info{font-size:0.875em;margin:-5px 0 15px;}
.entry-content p{padding:0 0 25px;color:#565656;}
.entry-content ul,.entry-content ol{padding-bottom:25px;}
.entry-content ul ul,.entry-content ul ol,.entry-content ol ul,.entry-content ol ol{padding-bottom:0;}
.entry-content ul{list-style:square;}
.entry-content ol{list-style:decimal;}
.entry-content li{margin-left:30px;}
.entry-content .entry-content blockquote{margin:5px 5px 20px;padding:25px 30px 5px;}
.entry-content .entry-content blockquote p{color:#999;font-style:italic;}
.entry-content img{height:auto;max-width:100%;}
.entry-content .post-image{margin:0 10px 10px 0;background-color:#f5f5f5;border:1px solid #ddd;padding:4px;}
.entry-content .alignnone,.entry-content img.alignnone{display:inline;margin:0 0 10px;}
.entry-content .alignleft,.entry-content img.alignleft{display:inline;float:left;margin:0 15px 10px 0;}
.entry-content .alignright,.entry-content img.alignright{display:inline;float:right;margin:0 0 10px 15px;}
.entry-content .aligncenter,.entry-content img.aligncenter,.entry-content .entry_content .centered{display:block;margin:0 auto 10px;}
.entry-content pre{font-size:0.875em;padding:10px;background:#f5f5f5;border:1px solid #ddd;}
.wp-caption{padding:5px;text-align:center;}
.wp-caption .wp-caption-text{font-size:0.875em;padding:5px 0;}
.author-box{background-color:#f5f5f5;margin:0 20px 40px;padding:10px;}
.author-box p{font-size:0.875em;}
.author-box .avatar{background-color:#fff;float:left;margin:0 10px 0 0;}
.genesis-grid-even,.genesis-grid-odd{margin:0 0 20px;padding:0 0 15px;width:48%;}
.genesis-grid-even{float:left;}
.genesis-grid-odd{float:right;clear:both;}
.featuredpage,.featuredpost{clear:both;margin:0 0 15px;}
.featuredpage img,.featuredpost img{background:#f5f5f5;border:1px solid #ddd;padding:4px;}
.featuredpage .page,.featuredpage .post,.featuredpost .page,.featuredpost .post{border-bottom:1px solid #ddd;margin:0 0 5px;padding:5px 15px 10px;}
.more-from-category{padding:5px 15px 0;}
.navigation{font-size:0.875em;padding:20px 0;margin:0 20px 20px;}
.navigation li{display:inline;}
.navigation li a{border:1px solid #ddd;padding:5px 8px;}
.navigation li a:hover{background-color:#f5f5f5;}
.navigation li.active a{background-color:#f5f5f5;}
.sidebar p{font-size:inherit;line-height:inherit;}
.sidebar .searchform{padding:5px 0 0 15px;}
.widget{font-size:0.875em;background:#fff;border:1px solid #ddd;padding:0 0 15px;margin:0 20px 20px;}
.widget h4{margin:0 0 5px;background-color:#f5f5f5;border-bottom:1px solid #ddd;font-size:0.875em;padding:9px 10px 8px;}
.widget ul,.widget ol{padding:5px 15px 0;}
.widget li{border-bottom:1px solid #ddd;margin:0 0 7px;padding:0 0 5px;word-wrap:break-word;}
.widget li:last-child{border-bottom:0;}
.widget_tag_cloud div div{padding:5px 15px 0;}
#wp-calendar{width:100%;}
#wp-calendar thead{background-color:#f5f5f5;font-weight:700;margin:10px 0 0;}
#wp-calendar td{background-color:#f5f5f5;padding:2px;text-align:center;}
#wp-calendar caption{font-size:0.75em;font-style:italic;padding:2px 5px 0 0;text-align:right;}
.textwidget{padding:5px 15px 0;}
.enews p{padding:5px 15px;}
.enews #subscribe{padding:0 0 0 15px;}
.enews #subbox{margin:5px -7px 0 0;padding:6px 5px;width:75%;}
.user-profile p{padding:10px 15px 0;}
.user-profile .posts_link{padding:0 15px;}
#comments{margin:0 0 15px;padding:0 20px;}
.subscribe-to-comments{padding:20px 0 10px;}
.comment-list li{font-weight:700;margin:15px 0 5px;padding:10px 5px 10px 10px;}
.comment-list li ul.children li{margin-left:10px;margin-right:-6px;}
.comment-list li.depth-1{border:1px solid #ddd;}
.comment-list .alt{border:1px solid #ddd;}
.comment-list .even{border:1px solid #ddd;}
.comment-list .thread-alt{background-color:#f5f5f5;}
.comment-list .thread-even{background-color:#f5f5f5;}
.comment-list .vcard cite.fn{font-style:normal;}
.comment-list .vcard .commentmetadata{margin:0 0 5px;font-size:0.75em;}
.comment-list .vcard img.avatar{background:#fff;float:right;margin:0 5px 0 10px;}
.comment-list .comment-content p{font-size:0.875em;padding:0 0 20px;}
.comment-list .comment-content .reply{font-weight:300;font-weight:0.875em;}
.ping-list{margin:0 0 40px;}
.ping-list li{font-weight:700;margin:15px 0 5px;padding:10px 5px 10px 10px;}
.ping-list cite{font-style:normal;}
#respond{margin:0 0 15px;padding:0 20px;}
#author,#email,#url,#comment{margin:10px 5px 0 0;padding:5px;width:250px;}
#comment{height:150px;margin:10px 0;width:98%;}
.nocomments{text-align:center;}
#footer{background-color:#232323;border-top:1px solid #121212;clear:both;color:#999;font-size:0.875em;}
#footer .wrap{padding:10px 15px;}
#footer a,#footer a:visited{color:#f5f5f5;}
#footer a a:hover,#footer a a:focus,#footer a:visited a:hover,#footer a:visited a:focus{color:#fff;text-decoration:none;}
.gototop,.creds{text-align:center;}
#footer-widgets{background-color:#f5f5f5;border-top:1px solid #ddd;clear:both;}
#footer-widgets h4{background:none;border:none;margin:0 0 5px;padding:0;}
#footer-widgets p{font-size:inherit;line-height:inherit;padding:0 0 10px;}
#footer-widgets .widget{background:none;border:0;margin:0 0 15px;padding:20px 20px 0;}
#footer-widgets .widget ul,#footer-widgets .widget ol{padding:0;}
#footer-widgets .featuredpage .page,#footer-widgets .featuredpost .post{margin:0 0 10px;padding:0;}
#footer-widgets .widget_tag_cloud div div{padding:0;}
#footer-widgets .textwidget{padding:0;}
#footer-widgets #wp-calendar thead,#footer-widgets #wp-calendar td{background:none;}div.gform_wrapper .ginput_complex label{font-size:0.875em;}div.gform_wrapper input,div.gform_wrapper select,div.gform_wrapper textarea{box-sizing:border-box;color:#333;font-family:sans-serif;font-size:0.875em !important;padding:4px 5px !important;}div.gform_wrapper li,div.gform_wrapper form li{margin:0 0 10px;}div.gform_wrapper .gform_footer{border:none;margin:0;padding:0;}div.gform_wrapper .gform_footer input.button{color:#333;}
.five-sixths,.four-fifths,.four-sixths,.one-fifth,.one-fourth,.one-half,.one-sixth,.one-third,.three-fifths,.three-fourths,.three-sixths,.two-fifths,.two-fourths,.two-sixths,.two-thirds{float:left;margin:0 0 20px;padding-left:3%;}
.one-sixth{width:14%;}
.one-fifth{width:17.4%;}
.one-fourth{width:22.5%;}
.one-third,.two-sixths{width:31%;}
.two-fifths{width:37.8%;}
.one-half,.three-sixths,.two-fourths{width:48%;}
.three-fifths{width:58.2%;}
.four-sixths,.two-thirds{width:65%;}
.three-fourths{width:73.5%;}
.four-fifths{width:78.6%;}
.five-sixths{width:82%;}
.first{clear:both;padding-left:0;}
#wrap{margin:15px auto;width:960px;border:1px solid #dfdfdf;}
#content-sidebar-wrap{width:750px;float:left;}
.content-sidebar #content-sidebar-wrap,.full-width-content #content-sidebar-wrap,.sidebar-content #content-sidebar-wrap{width:100%;}
.sidebar-content-sidebar #content-sidebar-wrap,.sidebar-sidebar-content #content-sidebar-wrap{float:right;}
#inner{padding:20px;}
#header .widget-area{float:right;padding:25px 20px 0 0;width:510px;}
#header .searchform{float:right;padding:12px 0 0;}
#header .s{margin:10px -7px 0 0;}
#title-area{width:400px;float:left;text-align:left;padding:20px 0 0 20px;}
#title{text-align:left;}
#description{text-align:left;}
.header-image #title-area{float:left;width:400px;}
.menu{clear:both;background-color:#f5f5f5;border-bottom:1px solid #ddd;color:#333;}
.menu li{float:left;}
.menu li a{border-right:1px solid #ddd;display:block;padding:5px 15px 4px;border-bottom:0;}
.menu li ul{display:block;position:absolute;height:auto;left:-9999em;margin:0 0 0 -1px;width:160px;z-index:8999;}
.menu li ul a{width:140px;}
.menu li ul li:first-child a{border-top:1px solid #ddd;}
.menu li ul ul{margin:-30px 0 0 159px;}
.menu li:hover>ul{left:auto;}
.menu li li li a,.menu li li li a:link,.menu li li li a:visited{background-color:#fff;color:#333;border:1px solid #ddd;border-top:0;font-size:0.75em;padding:5px 10px;width:138px;text-transform:none;}
.menu li li li a:hover,.menu li li li a:focus,.menu li li li a:link:hover,.menu li li li a:link:focus,.menu li li li a:visited:hover,.menu li li li a:visited:focus{background-color:#f5f5f5;}
.menu li.right{display:inherit;float:right;font-size:0.875em;padding:5px 15px 4px;}
.menu li.right a{background:none;border:0;display:inline;font-size:inherit;}
.menu li.right a:hover{color:#0d72c7;}
.menu-primary{border-top:1px solid #ddd;}
.menu-secondary{border-top:0;}
#nav .s{background-color:#fff;margin:2px 2px 0 0;}
#content{float:left;padding:10px 20px;width:410px;}
.content-sidebar #content,.sidebar-content #content{width:580px;}
.sidebar-content #content,.sidebar-sidebar-content #content{float:right;}
.full-width-content #content{width:880px;}
.breadcrumb{margin:-10px 0 30px;}
.taxonomy-description{margin:-10px 0 30px;}
.archive-page{float:left;width:45%;}
.post,.page{padding:0;}
.entry-content blockquote{padding-left:70px;}
.post-meta{border-top:1px solid #ddd;clear:both;font-size:0.875em;padding:5px 0 0;}
.author-box{margin:0 0 40px;}
.navigation{margin:0;}
#sidebar{float:right;display:inline;width:280px;}
#sidebar-alt{float:left;width:150px;}
.sidebar-content #sidebar,.sidebar-sidebar-content #sidebar{float:left;}
.content-sidebar-sidebar #sidebar-alt{float:right;}
.widget{margin:0 0 15px;}
#comments,#respond{padding:0;}
.gototop{float:left;text-align:left;width:30%;}
.creds{float:right;text-align:right;width:65%;}
#footer-widgets .wrap{padding:20px 30px 10px;}
#footer-widgets .widget{padding:0;}
