/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* @import "compass/reset"; */

/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,300); */

@import 'CSS:../../../plugins/fv-wordpress-flowplayer/css/flowplayer';
@import 'CSS:../../../plugins/popup-maker/assets/css/popup-maker-site.min.css';
@import 'CSS:../../../plugins/really-simple-twitter-feed-widget/extension/readygraph/assets/css/default-popup';
@import 'CSS:../../../plugins/smart-recent-post/css/smartPostStyle';
@import 'CSS:../../../plugins/spider-faq/elements/style';
@import 'CSS:../../../plugins/video-list-manager/css/skin1/colorbox';
@import 'CSS:../../../plugins/video-list-manager/css/style';
@import 'CSS:../../../plugins/tablepress/css/default.min';
@import 'CSS:../../../plugins/tablepress-responsive.min';

@import 'old';
@import 'jquery.bxslider';
@import 'font-awesome.min';
@import 'custom';

@import 'bootstrap.restore';
@import 'menu';
@import 'header';
@import 'sidebar';
@import 'page/homepage';
@import 'page/product_detail';
@import 'page/contact-us';
@import 'wfs.form';



/**
 * Minimalistic grid to overwrite the problem with the theme
 * @link http://thisisdallas.github.io/Simple-Grid/
 */
@import 'https://cdn.rawgit.com/ThisIsDallas/Simple-Grid/master/simplegrid.css';

div#text-69 {
  float: left;
  margin: 35px auto;
}

@media only screen and (max-width: 768px){
    div#search-2 {
        float: none;

    }
    .custom-di{
        display:block!important;
    }
    #search-2 {
        margin: auto;
        display: table;
    }
    #text-100 {
        margin: auto !important;
        display: table;
        width: 285px;
        float:none!important;
    }
    .svg-ex {
        margin: auto;
        display: table;
    }
}

h3.phone-nimder {
  color: #1c5a93;
   font-size: 25px;
}
div#search-2 {
  float: left;
  margin-top: 10px;
}
.widget-area.custom-di.search-box.span7 {
  padding-top: 5px;
}
.woocommerce-page #inner {
    width: 960px;
}

div#text-100 {
  float: left;
  padding: 13px 0;
}
div#search-4 {
  display: table;
  float: left;
  width: 40%;
}
.widget-area.search-box .searchform {
  float: right;
  padding-top: 26px!important;
}
@media only screen and (max-width: 768px){
.header .widget-area.search-box {
  display: block!important;
}
#text-100 {
  margin: auto !important;
  display: table;
  width: 300px;
  float: none!important;
  text-align: center;
}
div#text-100 {
  float: left;
  padding: 0px 0!important;
  width: 100%;
}
div#search-4 {
  display: table;
  width: 100%;
  margin: auto;
}
.widget-area.search-box .searchform {
  float: none!important;
  padding-top: 26px!important;
  margin: auto!important;
  width: 200px;
}
}
@media screen and (min-width: 769px) and (max-width: 950px) {

    div#search-4 {
      display: table;
      float: left;
      width: 40%;
    }
    div#text-100 h2 {
      font-size: 19px!important;
    }
    div#twitt-left i {
      font-size: 30px!important;
    }
    #twitt-left i {
      color: #00AEEF;
      float: left;
      font-size: 3em;
      margin: 42px 0px 0px 14px!important;
      text-align: right;
    }
    #twitt-left h2 {
      color: #00aeef;
      font-size: 14px!important;
      font-weight: 900 !important;
      text-align: left !important;
      float: right;
      text-transform: uppercase;
      padding: 38px 10px 0 0px!important;
      line-height: 1.2625;
    }


}

.alignnone {
    width: 100%;
}

.slide-data {
  color: #F0C978;
  font-weight: bold;
}
.flexslider-hg .slide-data .flexslider-hg-title a {
  text-decoration: none;
  color: #fff;
  display: none;
}
.slide-data a {
  color: white;
}
.widge-soocil a {

  float: left;
  margin-left: 10px;
}
a.twiiter-incw {
  width: 38px;
  margin-right: 8px;
}
a.youtube-icnw {
  width: 37px;
  margin-top: 2px;
}
@media only screen and (max-width: 767px){
#ticker {
  height: 8em;
  width: 75%;
  float: left;
}
a.facebook-inc, .pinrest-icn {
  padding: 3px 0;
  float: left;
}
.scioal-icon {
  float: right;
  width: 40px;
  background-color: white;
  padding: 4px;
}
}
.widget-wrap iframe {
    width: 100%;
    height: 210px;
}
@media only screen and (max-width: 300px){
.widge-soocil a {
    float: left;
    margin-left: 0px;
}
}
.metaslider {
    float: left;
    margin-right: 15px;
}
.flexslider{
margin: 0px 0px 0px 0px !important;
}
.close{
float:none!important;
}
.wpcf7-form P{
  float: left;
    margin: 0 0 25px;
    width: 100%;
}

.wpcf7-form .wpcf7-form-control-wrap {
    display: inline;
    float: right!important;
    width: 69%;
}
.logo.span4 {
    margin-top: 17px;
}
#sidebar h4.widgettitle {

    color: #F26C4A!important;

}
h5.slogan {
    font-size: 14px;
}
h2.button {
    font-size: 20px;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
background: #f85032; /* Old browsers */
background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

    padding: 10px;
    color: white;
    border-radius: 10px;
    text-align: center;
}
h2.button:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc2206+0,c92a11+50,a21806+51,a21c0a+71,9e1d12+100 */
background: #bc2206; /* Old browsers */
background: -moz-linear-gradient(top,  #bc2206 0%, #c92a11 50%, #a21806 51%, #a21c0a 71%, #9e1d12 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc2206), color-stop(50%,#c92a11), color-stop(51%,#a21806), color-stop(71%,#a21c0a), color-stop(100%,#9e1d12)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bc2206 0%,#c92a11 50%,#a21806 51%,#a21c0a 71%,#9e1d12 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bc2206 0%,#c92a11 50%,#a21806 51%,#a21c0a 71%,#9e1d12 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bc2206 0%,#c92a11 50%,#a21806 51%,#a21c0a 71%,#9e1d12 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bc2206 0%,#c92a11 50%,#a21806 51%,#a21c0a 71%,#9e1d12 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc2206', endColorstr='#9e1d12',GradientType=0 ); /* IE6-9 */
text-decoration:none!important;
}
.widget-wrap > a {
    text-decoration: none;
}

@import 'responsive/_1920';
@import 'responsive/_1366';
@import 'responsive/_1024';
@import 'responsive/_980';
@import 'responsive/_960';
@import 'responsive/_910';
@import 'responsive/_860';
@import 'responsive/_768';
@import 'responsive/_700';
@import 'responsive/_660';
@import 'responsive/_630';
@import 'responsive/_540';
@import 'responsive/_520';
@import 'responsive/_479';
@import 'responsive/_420';
@import 'responsive/_360';
@import 'responsive/_320';